body {
  font-weight: normal;
  background: linear-gradient(
    to right,
    rgb(204, 197, 197),
    rgb(205, 245, 214),
    rgb(88, 80, 110)
  );
  padding: 0;
  margin: 0;
  font-family: cursive;
}

img {
  width: 100%;
  height: 200px;
  padding: 10px;
  border: 1px solid #eee;
}

#tempate {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

#movies {
  width: 24%;
  margin: 12px 5px;
  background: #fff;
  padding: 10px;
  float: left;
  text-align: center;
  height: 485px;
}

#movies h1 {
  font-size: 15px;
  border-bottom: 2px solid #ccc;
  padding: 2px;
  font-weight: normal;
}
